{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div></div>
        <div>Prénom : </div>
        <div>Nom : </div>
        <div>Téléphone : </div>
        <div>Email : </div>
        <div>Campus : </div>
    </div>
    <button


{% endblock %}

{% block title %}

{% endblock %}

