{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <h2 class="text-center mb-5">Mon profil</h2>
        <div class="row">

            {% if app.user.profilePicture %}

            {% endif %}

        <div class="col">
                {{ form(modifForm) }}
                        <a href="{{ path('main') }}">
                            <button class="btn-success btn mt-2">Annuler</button>
                        </a>
        </div>
    </div>


{% endblock %}

{% block title %}

{% endblock %}

