/* --------------------------------------- NAVIGATION --------------------------------------- */

/*#navigation {
    background-color: white !important;
}*/

#navbarCSS {
    background-color: #144a7f;
}

#thead {
    background-color: #144a7f;
}

#cancel {
    margin-left: 10px !important;
}

#streetPlace {
    background-color: grey;
}

#dataTable {
    float:none;
    text-align: center;
    text-align: -moz-center;
    display: inline-block;
}

#tfoot {
    background-color: #144a7f;
}

body.container {
    padding-top : 60px;
}
.btn {
    background-color: #144a7f;
}
.btn:hover {
    background-color: #7AAEE6;
    color: #144a7f;
}
input {
    margin-bottom: 12px;
}
label {
    font-weight: bold;
}
#btnBack{
    margin-left: 10px;
}

#event_submit {
    margin-left: 10px;
}

#btnCancel{
    background-color: darkred;
    margin-left: 10px;
}

#btnConnexion {
    background-color: white;
    color: #144a7f;
    border: 0.2px solid #144a7f;
}

#btnConnexion:hover {
    background-color: #7AAEE6;
    color: #FFFFFF;
}

footer{
    width:100%;
    padding-top:50px;
    margin-top: 25px;
    height:50px;
    background: #144a7f;
    color: #f2f6fe;
}
